<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="diru3oj2HTbW97V9VDzczVDKNLNfnc" Name="FFDec">
                <Component Id="cmpr_sSTwcMTdN.NNXr0M7ipNyQPMQ" Guid="{6FA03627-CF08-44E4-942E-38C77652902A}">
                    <File Id="filtmjwO7pvmEaHcMfuosByqLMISCc" KeyPath="yes" Source="$(var.FFDecPath)\ffdec.bat" />
                </Component>
                <Component Id="cmp_ZBPTtOl8wyVcmSVMQ4s_yzJAO4" Guid="{96E0BAE9-F5E2-410E-B723-93CCFAA73825}">
                    <File Id="filZKIttsQw733Tb6j.4cm2IBoX2dM" KeyPath="yes" Source="$(var.FFDecPath)\ffdec.jar" />
                </Component>
                <Directory Id="dirBrmGz_Asm13aDUe8F.VpUy2lZaI" Name="lib">
                    <Component Id="cmprh10oCi3Eq.hN_zHcG8foNecIE8" Guid="{C2386407-9A18-4986-845E-D930BC5ED8E7}">
                        <File Id="fil0PnXWpi2XCtsgvHL_r1ktmUQmbA" KeyPath="yes" Source="$(var.FFDecPath)\lib\antlr-runtime-4.11.1.jar" />
                    </Component>
                    <Component Id="cmp4.ZiXk.vZsDfG5b0yC.MqcB9oXI" Guid="{79CBA3AB-D84B-431E-8EED-712B5E481000}">
                        <File Id="film.GQlSuwVCaK7v2UzIvtr6byQhw" KeyPath="yes" Source="$(var.FFDecPath)\lib\avi.jar" />
                    </Component>
                    <Component Id="cmplYBZbL.9LSJtaKzKxM4T7PpyWbU" Guid="{A295FA25-1B5E-418C-83C5-8974AA3F53AA}">
                        <File Id="fil0vY1e_fBQ4a53wOYaPS7Th8.ZZg" KeyPath="yes" Source="$(var.FFDecPath)\lib\avi.montemedia.license.txt" />
                    </Component>
                    <Component Id="cmp7RDAGfbeyEvgLdNhhhuygwUp7b8" Guid="{CE3CB560-153C-4BFD-AED7-47386DE9AC47}">
                        <File Id="filGDLvqJ4C._PA_tP35cpZK8vR1Sc" KeyPath="yes" Source="$(var.FFDecPath)\lib\CHANGELOG.md" />
                    </Component>
                    <Component Id="cmpUCkkQLUJGawPxUR5GI8SI4zFZE0" Guid="{617622DB-3C61-4D8F-8988-92F3990105A5}">
                        <File Id="filoB3Pr4CxynCLUo0IKvb_CFX9u8w" KeyPath="yes" Source="$(var.FFDecPath)\lib\cmykjpeg.jar" />
                    </Component>
                    <Component Id="cmpIDPIJsoxUjIJA17k7sBGyuli.38" Guid="{FEA33993-D2D7-4070-939F-03ED2EF8156C}">
                        <File Id="filoUHdRMYvdXCsRkLjnIuLVxRSfGM" KeyPath="yes" Source="$(var.FFDecPath)\lib\ddsreader.jar" />
                    </Component>
                    <Component Id="cmp6nqW6DswLYtaEVlatIEu66HQM0s" Guid="{DC13CF02-9127-4B7F-AB15-BCC57A928AA1}">
                        <File Id="filLtLRr7RbuOFomn6ia1uZMYaF2lA" KeyPath="yes" Source="$(var.FFDecPath)\lib\ddsreader.license" />
                    </Component>
                    <Component Id="cmptJ1FcTKhnj2WhWrqaJaC6RDUu5U" Guid="{5BFFDF50-9FD2-4952-BDFD-E1ED85C85938}">
                        <File Id="filtSqs_uJA9TBPu_IlfpJBdDeEnk0" KeyPath="yes" Source="$(var.FFDecPath)\lib\decimal.jar" />
                    </Component>
                    <Component Id="cmprQf1DjR310ubsNl476eF52968Wk" Guid="{591F2CDD-7E20-4FA8-A52A-533E7C1DC76A}">
                        <File Id="fileYPNYmxKadufMJcxBZpPjaZp1xM" KeyPath="yes" Source="$(var.FFDecPath)\lib\decimal.license.txt" />
                    </Component>
                    <Component Id="cmp0ph6dYQmF1_X.2qIHCmAxeR8ltw" Guid="{0EE493E1-BED5-4140-A94D-B9177E2EFAF2}">
                        <File Id="filTUvqoTGzM5sNPAaMgjSTxWMjfnw" KeyPath="yes" Source="$(var.FFDecPath)\lib\ffdec_lib.jar" />
                    </Component>
                    <Component Id="cmpRHnjCsEmlUt_dSsC25ahyIviYd0" Guid="{252C7CCD-D858-419A-A0DB-120CAF80B377}">
                        <File Id="filTCUcDxcyG._kSKmuy7l0LDIb0Uo" KeyPath="yes" Source="$(var.FFDecPath)\lib\ffdec_lib.license.txt" />
                    </Component>
                    <Component Id="cmp5gsS9twqMQu_lcFgDT9yW20RdPI" Guid="{EBCBC971-CEC6-43EF-A811-C2305CBB6351}">
                        <File Id="filHi0JBm3FSFDrglkc9y7BE40FHbY" KeyPath="yes" Source="$(var.FFDecPath)\lib\flacomdoc.jar" />
                    </Component>
                    <Component Id="cmp4EoYNKe2xNo2moFxlcxUKWJeLd8" Guid="{392953C0-BEA5-4FA7-84CC-EACA9AD79532}">
                        <File Id="filfLRIbKIYfr9JL5Z3i_PUd1lEsN8" KeyPath="yes" Source="$(var.FFDecPath)\lib\flacomdoc.license.txt" />
                    </Component>
                    <Component Id="cmp_cVmQXo.jFJWbKnbOGSnZh4bII4" Guid="{D3B94887-757D-4881-8F38-302060E28BF1}">
                        <File Id="fil87VHM.SBTS6VRW9vGCluSEN2o50" KeyPath="yes" Source="$(var.FFDecPath)\lib\flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpdD0ItAJbgwSWLVNM64V6QYzewz4" Guid="{E16809B0-7B3E-4A9F-8039-43DAC204DC16}">
                        <File Id="fildwB.ItyEO7aDHQIsh00IRb2Y8x4" KeyPath="yes" Source="$(var.FFDecPath)\lib\flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpiEZaH9irBP_4MFM3FKlaXDFQTUw" Guid="{2457DA76-BEA8-4BAF-851D-6741DE0FF919}">
                        <File Id="filKL9NpCOsSitbP6h.Aa1sfg6RzC8" KeyPath="yes" Source="$(var.FFDecPath)\lib\flashdebugger.jar" />
                    </Component>
                    <Component Id="cmpF_lSldPhLA7zBy40H9N8KlqNkBA" Guid="{CEAB7839-15FE-48F9-9875-1648AF7A9B84}">
                        <File Id="fil3kFCJmNcdHQSYVP1SWftnqFt6gM" KeyPath="yes" Source="$(var.FFDecPath)\lib\gif.jar" />
                    </Component>
                    <Component Id="cmpINwlsp7Flj0eRVIoAcJ0.bDrQSU" Guid="{2C9555BB-79A6-4263-A3DB-0DED093C18FE}">
                        <File Id="fil312.Ae6cuOe8vYc_dfpiHOByu.E" KeyPath="yes" Source="$(var.FFDecPath)\lib\gif.license.txt" />
                    </Component>
                    <Component Id="cmpV.oh7abWAFWxmyVy4pVyvlULKKk" Guid="{08D63EB0-C3C7-4551-9EC6-0F2DE68D2CF7}">
                        <File Id="fil6Epsa4hWewKp0K8lIeVb6nhmXi8" KeyPath="yes" Source="$(var.FFDecPath)\lib\gifreader.jar" />
                    </Component>
                    <Component Id="cmp5ztwxXZL_aSIaVevtzHD5081yG4" Guid="{8122E729-DD2B-44D5-BF9B-5B8B5DF7F623}">
                        <File Id="fil4Yfb0V6MExvyK0iy8JtKFm_Jygk" KeyPath="yes" Source="$(var.FFDecPath)\lib\gifreader.license.txt" />
                    </Component>
                    <Component Id="cmp4preofDY6e82cX1MkhzXlMpqNXM" Guid="{F048C0B3-A570-415C-8B35-A0D5B415FEB1}">
                        <File Id="filZGBNUEIH8NPAySCcmSZ0LpP27bQ" KeyPath="yes" Source="$(var.FFDecPath)\lib\gnujpdf.jar" />
                    </Component>
                    <Component Id="cmpe_FMRLStMkAps.b4l4WycjXCQRc" Guid="{444499EB-3D71-4E82-8ABF-BDF734779DCF}">
                        <File Id="fil9zrUzf8cXmacwQvfB5pwoQST5iQ" KeyPath="yes" Source="$(var.FFDecPath)\lib\graphs.jar" />
                    </Component>
                    <Component Id="cmpy0F23z.p3he78PT8nartFczoE94" Guid="{7AD9F356-7FC4-4262-9B91-975F52AD2BE5}">
                        <File Id="filQTcBy64eZwBJVrslzn1kybafEH8" KeyPath="yes" Source="$(var.FFDecPath)\lib\jansi-2.4.0.jar" />
                    </Component>
                    <Component Id="cmpo_VzdNzM6XiIBy8jOgmScvX9dMw" Guid="{82A2020E-A715-41F1-B9F2-A3C5AE45B534}">
                        <File Id="fil8qguEv_omIjbkPJrgjR7Vcsz2xM" KeyPath="yes" Source="$(var.FFDecPath)\lib\jargs.jar" />
                    </Component>
                    <Component Id="cmprlx5Vc9hry5N2vNic9LGB7QhePg" Guid="{4851F79B-E8C8-40A2-907D-258E28B68AF1}">
                        <File Id="filA1.1YQGc0.Xz1i_ypFfQjOfNY6U" KeyPath="yes" Source="$(var.FFDecPath)\lib\JavactiveX.jar" />
                    </Component>
                    <Component Id="cmpFJBRYSGnMc4LHlPCTB1pv_8R4T0" Guid="{6023DEA7-467F-4CFB-B5F3-F98B6F9B5F8B}">
                        <File Id="filk5C8yBLGw23H1MGueiSJtCbVq_0" KeyPath="yes" Source="$(var.FFDecPath)\lib\jl.license.txt" />
                    </Component>
                    <Component Id="cmpdGGmRiAMrYW.KBQ_dxI_I_rUHn8" Guid="{3E663847-B629-4BE0-AF11-42ABC3F0916A}">
                        <File Id="filFVB8_KOUfflBiGN1.8QiR_OKQNI" KeyPath="yes" Source="$(var.FFDecPath)\lib\jl1.0.1.jar" />
                    </Component>
                    <Component Id="cmpwwd2pEsr08YV09nffYklaz.Ayv4" Guid="{B24143BA-CCA1-4511-B309-6DF40D075855}">
                        <File Id="filBDjmeQGpqkEysjn0EB.IxSpeHsc" KeyPath="yes" Source="$(var.FFDecPath)\lib\jlayer-1.0.2.jar" />
                    </Component>
                    <Component Id="cmplDj_arvuTEhJ9igr.SGJBXcS180" Guid="{45E5EAB4-7E0B-4CB9-B4FA-EF5E968C2D0D}">
                        <File Id="fil8wm_u_1sxxPhe9_7w7X7wuwh.gg" KeyPath="yes" Source="$(var.FFDecPath)\lib\jlayer.license.txt" />
                    </Component>
                    <Component Id="cmp2OXsbCJvKsn0mJ6SaE10J2a6mhU" Guid="{CCAC806C-44FF-4C7D-BF46-CDDB9ECCCEC9}">
                        <File Id="filts.2i3jYENeChAQ.mWwINYrGfOY" KeyPath="yes" Source="$(var.FFDecPath)\lib\jna-3.5.1.jar" />
                    </Component>
                    <Component Id="cmpPwP8nvrXod5gBwwV_4aSKm1mRkA" Guid="{C2602D4B-4D3E-47D5-952D-149B73F2A6F2}">
                        <File Id="filPk3stVE_kbeETHdJJLIux66wesE" KeyPath="yes" Source="$(var.FFDecPath)\lib\jna-platform-3.5.1.jar" />
                    </Component>
                    <Component Id="cmp65fbT18KII3tsJAg2GvLvUOTkTU" Guid="{ADEA94CB-6EC4-411D-9FD8-7BCCF92FF973}">
                        <File Id="filJjewoUSvmiOfQ6ijpsUGOyc7jFY" KeyPath="yes" Source="$(var.FFDecPath)\lib\jna.license.txt" />
                    </Component>
                    <Component Id="cmps.vuX.ex8dKf4wPmqXKUQiCdkYw" Guid="{C04C14D8-0A2A-452D-9AFB-8AFF4BB36552}">
                        <File Id="fil_CcS8zngxw9_rsNCwM.lm80j.jc" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpacker.jar" />
                    </Component>
                    <Component Id="cmpSO5a12IRkbqRXEPboPUrvFYvLo4" Guid="{D67AA506-9A74-4106-8F4A-46765EC5F6AA}">
                        <File Id="filwvaIXf1a0bO_vHpBI_a_vvZtqRE" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpacker.license.txt" />
                    </Component>
                    <Component Id="cmpCzbq3BMmGyyVlTEQ.Si_ZWxjUaM" Guid="{45C01974-45D3-40A8-89B8-65C05D64383D}">
                        <File Id="filHSCnUpmQLgDBxY62vQH2PoSXy_w" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpproxy.jar" />
                    </Component>
                    <Component Id="cmpqe.RFAUERSNNfWUvHaSMWOYR9Dk" Guid="{6FBA7C7F-8A74-4427-A57E-BA500D387AAE}">
                        <File Id="fil8VYzvTvH0yDahkjaaSGyqDwmIK0" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpproxy.muffin.license.txt" />
                    </Component>
                    <Component Id="cmpSBi7h21RwjYNCdjiRZ6KTXwE61g" Guid="{2C2E4E48-E440-4DA6-B660-18D3CDB3F35B}">
                        <File Id="filLLuPnbJRvhYhpkOcZ4VIrz8H6OE" KeyPath="yes" Source="$(var.FFDecPath)\lib\jsyntaxpane-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpghUUKeqHAXWBrdhTaPDbi9om7rs" Guid="{EC98F452-4EE3-4D38-8FDA-592166493C5E}">
                        <File Id="filS0hO.zzBmrAAvUOxSh4g1CC.q5k" KeyPath="yes" Source="$(var.FFDecPath)\lib\jsyntaxpane.license.txt" />
                    </Component>
                    <Component Id="cmpvQ6g5LNhl9wEj.s3mY6Ox7Tr1eY" Guid="{4D3511EF-8E98-4FFF-8A8E-7694F53CDE5B}">
                        <File Id="filvhQjJuNjNg6.Kzi8FXqIkPHinRg" KeyPath="yes" Source="$(var.FFDecPath)\lib\license.txt" />
                    </Component>
                    <Component Id="cmpbAjHLPOWTP4pG5WK2G1OcAEX3xw" Guid="{5139ECD0-8ACF-4CDA-B079-037376AE23CA}">
                        <File Id="filiYbb2aGv6V2x30BZ7dPnQgb4cc0" KeyPath="yes" Source="$(var.FFDecPath)\lib\LZMA.jar" />
                    </Component>
                    <Component Id="cmpb_kav3_piyfhmFTFlLNdGtzOTnU" Guid="{5BEBD2E2-339C-40F6-8B44-BE2E9A73DA07}">
                        <File Id="filWGfAugLkRZvIaTQwtXjegsleQSw" KeyPath="yes" Source="$(var.FFDecPath)\lib\minimal-json-0.9.5.jar" />
                    </Component>
                    <Component Id="cmprM5U.gwBiCB7_f19jOkbeBDBJZg" Guid="{ED1F67E1-FD8E-4F12-8C12-ED0352788107}">
                        <File Id="filyO6KnQsYGTB.MnKwbo8irBe9ghQ" KeyPath="yes" Source="$(var.FFDecPath)\lib\minimal-json.license.txt" />
                    </Component>
                    <Component Id="cmpmnO82ex7HTVuGUbUPhKmLBglYAg" Guid="{69704AEE-2EA6-4E7D-A97D-7A8CC4F268F4}">
                        <File Id="filYLFkdcY7eZiD0_WuIayeMwHUGG0" KeyPath="yes" Source="$(var.FFDecPath)\lib\miterstroke.jar" />
                    </Component>
                    <Component Id="cmpEwm.URPgD3dhsjN5WVhskbFnmSw" Guid="{C8E3E0BF-0925-4B19-95A0-AA3D77624F3B}">
                        <File Id="fil065rP89nO2.ISaQhTXHv6Fcd0JU" KeyPath="yes" Source="$(var.FFDecPath)\lib\miterstroke.license.txt" />
                    </Component>
                    <Component Id="cmpdzEHy61qFaerAkAlvc9LMKKZbug" Guid="{94BED6C1-010C-446B-A9D9-094497A69F98}">
                        <File Id="filGBXGsxV7cStgrDCf7Z2fBpIXJcM" KeyPath="yes" Source="$(var.FFDecPath)\lib\nellymoser.jar" />
                    </Component>
                    <Component Id="cmpXH5eLGSUxLNEtjZq1gVGgLGiWTM" Guid="{4C6F8D1C-81F9-4DB0-894A-637573110451}">
                        <File Id="fil1po7NBbzHwdZFcPKYhsaAvWS1gI" KeyPath="yes" Source="$(var.FFDecPath)\lib\nellymoser.license.txt" />
                    </Component>
                    <Component Id="cmpLRAM4jBD_MIvsCtWZcxtWzboG0g" Guid="{D1B9FF03-7F0F-4F9C-983E-BA08FE7C869D}">
                        <File Id="filoGUjQUwBMTMA6qtYrL9B8YoE1_Y" KeyPath="yes" Source="$(var.FFDecPath)\lib\README.md" />
                    </Component>
                    <Component Id="cmpyMsgFQr.yJowvU1DW83NoEATJyU" Guid="{433B0B7F-CD53-4891-AA3C-894AF7E20F03}">
                        <File Id="filY.tPkEmRkWYHyfsgRija.tR8J0U" KeyPath="yes" Source="$(var.FFDecPath)\lib\sfntly.jar" />
                    </Component>
                    <Component Id="cmp9aKcG3Lf0yTkpIX9_Urabd_YnYs" Guid="{EE175440-CD99-4D36-974D-889547C99ECC}">
                        <File Id="filjjhnOPev.rkWtpPdN864nqq21FI" KeyPath="yes" Source="$(var.FFDecPath)\lib\sfntly.license.txt" />
                    </Component>
                    <Component Id="cmpxvzeCC58OE5lq8kQQNDMqu3ExIs" Guid="{83912028-D39E-455C-8E22-5A01F35C23CE}">
                        <File Id="filPDQDmrPCsafAKC.VmdcmC4A8WMU" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-6.2.jar" />
                    </Component>
                    <Component Id="cmp6tbrzMjOQieg.9DpcD6daLMxl4M" Guid="{914DCE0E-03E0-435F-AC4A-77E8271DB9DC}">
                        <File Id="filyfHMF2waP8BiAIG7HCAuifCIo4w" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-fix.jar" />
                    </Component>
                    <Component Id="cmpxhWz9GPrQKd.2pR_2N0P2mX1sDg" Guid="{4096B2E2-D6BA-4060-BB14-DAC862763FB7}">
                        <File Id="filqWgueIjXduUta6aPqgzxzMEp1Gg" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpyrNIDSRQHoly8mZFByyRApq0SD8" Guid="{35AFE9D5-77D7-4D35-AE96-6A72E575320C}">
                        <File Id="filppSRGlwY5HlnbisXoaB6ahhXevw" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpjW5wgPMTRtJ7By4xukJ39CAxW94" Guid="{785386BE-A601-4617-A569-40936608607E}">
                        <File Id="filrpuaTigKZ_WbmSjXvcXt7ZC3YQY" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance.license.txt" />
                    </Component>
                    <Component Id="cmphITlhSa05.sWEuDBV6jET_ClcB0" Guid="{41C88318-D584-4F15-B268-AC869AE8D8CD}">
                        <File Id="filzbF5YW_OV_NdiTr9W87.ysjVKTc" KeyPath="yes" Source="$(var.FFDecPath)\lib\tablelayout.jar" />
                    </Component>
                    <Component Id="cmpTgDUiVvV8ZmRWeM0of71xMcuWHo" Guid="{EC9636C1-9DD9-4A89-BDDD-14C20BFB0933}">
                        <File Id="fildJB.YTNVQKdKKV2hedk2QAaiK2E" KeyPath="yes" Source="$(var.FFDecPath)\lib\tga.jar" />
                    </Component>
                    <Component Id="cmpCVLYKJ9lAobg6YGNiTdN91xlxO0" Guid="{F88292EA-F0D0-4AC2-8271-588D4A600ED9}">
                        <File Id="filSpRwSvFim90OgVnZABpbOArJ8kU" KeyPath="yes" Source="$(var.FFDecPath)\lib\tga.license.txt" />
                    </Component>
                    <Component Id="cmpDepaOyx5I7Qyfs4fhQvp82FU1ns" Guid="{921CB609-3A99-402D-B8CD-FC23C5F5FDEF}">
                        <File Id="filkW1WHZuK7RK7nrXVqAW1sp5PZT0" KeyPath="yes" Source="$(var.FFDecPath)\lib\tomlj-1.1.1.jar" />
                    </Component>
                    <Component Id="cmpDh0ju9qqK2iqO_I8UWn5Qo7Un2g" Guid="{EACAC00D-A807-44AB-8D37-F9F1CA38E562}">
                        <File Id="filjzZMQ4uBGDD5byiEJUbyhU3_UmU" KeyPath="yes" Source="$(var.FFDecPath)\lib\treetable.jar" />
                    </Component>
                    <Component Id="cmp92.m6M.XhgJWEmzcfCnJ9OrXHHg" Guid="{80C05467-39F9-46CA-BE45-F542825CD5C5}">
                        <File Id="filHYMAX_xuOy3szEpmaZrcmkHlm9g" KeyPath="yes" Source="$(var.FFDecPath)\lib\trident-6.2.jar" />
                    </Component>
                    <Component Id="cmpIt5LQb1g2vTnR91GlHsbyaKt.vM" Guid="{E41DE769-9CE2-4663-BC47-C0DDB71B2E58}">
                        <File Id="filtenBrTSWLTbKzJNcUvksFacAPLM" KeyPath="yes" Source="$(var.FFDecPath)\lib\trident.license.txt" />
                    </Component>
                    <Component Id="cmpzRjXVinOz.D7wzA4zBe0LQY7588" Guid="{0684D2A3-968E-4569-9ADF-1E304B5353B5}">
                        <File Id="fil5.kCsbFGA.aPuyYuWDAl2Z9pNVY" KeyPath="yes" Source="$(var.FFDecPath)\lib\ttf.doubletype.license.txt" />
                    </Component>
                    <Component Id="cmpqV8NHMcQokui8O4ngUbXhOS6hfw" Guid="{7120BFFF-E1B8-4F84-A338-5791EC15F832}">
                        <File Id="fil.9IitYFIo9FXHUycTBFahcSIUQI" KeyPath="yes" Source="$(var.FFDecPath)\lib\ttf.fontastic.license.txt" />
                    </Component>
                    <Component Id="cmpR6ZAW._Gpy_kkzz6Q8roZth08CM" Guid="{08A973BB-EE73-449E-A78B-55B6C87C3A6F}">
                        <File Id="filQaBGIuF7DTXgixf4Ct2rugFUWvg" KeyPath="yes" Source="$(var.FFDecPath)\lib\ttf.jar" />
                    </Component>
                    <Component Id="cmp04zjmXEGBrNTGMYnN9GswrTtfWs" Guid="{F0B84EF6-54EF-41A6-B68E-AD4B1C8C9EFB}">
                        <File Id="filxzZY2UgLCROw4XUl.S7f2rltpqs" KeyPath="yes" Source="$(var.FFDecPath)\lib\vlcj-4.7.3.jar" />
                    </Component>
                    <Component Id="cmp5Ej2qXEqGtZo0iF0Ahc7r9F_CKc" Guid="{150558C0-4E0D-44CF-A385-7B006F8EE068}">
                        <File Id="filwpAr0O4S1mxtV7_9AESYUiZG_yM" KeyPath="yes" Source="$(var.FFDecPath)\lib\vlcj-natives-4.7.0.jar" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="FFDecComponents">
            <ComponentRef Id="cmpr_sSTwcMTdN.NNXr0M7ipNyQPMQ" />
            <ComponentRef Id="cmp_ZBPTtOl8wyVcmSVMQ4s_yzJAO4" />
            <ComponentRef Id="cmprh10oCi3Eq.hN_zHcG8foNecIE8" />
            <ComponentRef Id="cmp4.ZiXk.vZsDfG5b0yC.MqcB9oXI" />
            <ComponentRef Id="cmplYBZbL.9LSJtaKzKxM4T7PpyWbU" />
            <ComponentRef Id="cmp7RDAGfbeyEvgLdNhhhuygwUp7b8" />
            <ComponentRef Id="cmpUCkkQLUJGawPxUR5GI8SI4zFZE0" />
            <ComponentRef Id="cmpIDPIJsoxUjIJA17k7sBGyuli.38" />
            <ComponentRef Id="cmp6nqW6DswLYtaEVlatIEu66HQM0s" />
            <ComponentRef Id="cmptJ1FcTKhnj2WhWrqaJaC6RDUu5U" />
            <ComponentRef Id="cmprQf1DjR310ubsNl476eF52968Wk" />
            <ComponentRef Id="cmp0ph6dYQmF1_X.2qIHCmAxeR8ltw" />
            <ComponentRef Id="cmpRHnjCsEmlUt_dSsC25ahyIviYd0" />
            <ComponentRef Id="cmp5gsS9twqMQu_lcFgDT9yW20RdPI" />
            <ComponentRef Id="cmp4EoYNKe2xNo2moFxlcxUKWJeLd8" />
            <ComponentRef Id="cmp_cVmQXo.jFJWbKnbOGSnZh4bII4" />
            <ComponentRef Id="cmpdD0ItAJbgwSWLVNM64V6QYzewz4" />
            <ComponentRef Id="cmpiEZaH9irBP_4MFM3FKlaXDFQTUw" />
            <ComponentRef Id="cmpF_lSldPhLA7zBy40H9N8KlqNkBA" />
            <ComponentRef Id="cmpINwlsp7Flj0eRVIoAcJ0.bDrQSU" />
            <ComponentRef Id="cmpV.oh7abWAFWxmyVy4pVyvlULKKk" />
            <ComponentRef Id="cmp5ztwxXZL_aSIaVevtzHD5081yG4" />
            <ComponentRef Id="cmp4preofDY6e82cX1MkhzXlMpqNXM" />
            <ComponentRef Id="cmpe_FMRLStMkAps.b4l4WycjXCQRc" />
            <ComponentRef Id="cmpy0F23z.p3he78PT8nartFczoE94" />
            <ComponentRef Id="cmpo_VzdNzM6XiIBy8jOgmScvX9dMw" />
            <ComponentRef Id="cmprlx5Vc9hry5N2vNic9LGB7QhePg" />
            <ComponentRef Id="cmpFJBRYSGnMc4LHlPCTB1pv_8R4T0" />
            <ComponentRef Id="cmpdGGmRiAMrYW.KBQ_dxI_I_rUHn8" />
            <ComponentRef Id="cmpwwd2pEsr08YV09nffYklaz.Ayv4" />
            <ComponentRef Id="cmplDj_arvuTEhJ9igr.SGJBXcS180" />
            <ComponentRef Id="cmp2OXsbCJvKsn0mJ6SaE10J2a6mhU" />
            <ComponentRef Id="cmpPwP8nvrXod5gBwwV_4aSKm1mRkA" />
            <ComponentRef Id="cmp65fbT18KII3tsJAg2GvLvUOTkTU" />
            <ComponentRef Id="cmps.vuX.ex8dKf4wPmqXKUQiCdkYw" />
            <ComponentRef Id="cmpSO5a12IRkbqRXEPboPUrvFYvLo4" />
            <ComponentRef Id="cmpCzbq3BMmGyyVlTEQ.Si_ZWxjUaM" />
            <ComponentRef Id="cmpqe.RFAUERSNNfWUvHaSMWOYR9Dk" />
            <ComponentRef Id="cmpSBi7h21RwjYNCdjiRZ6KTXwE61g" />
            <ComponentRef Id="cmpghUUKeqHAXWBrdhTaPDbi9om7rs" />
            <ComponentRef Id="cmpvQ6g5LNhl9wEj.s3mY6Ox7Tr1eY" />
            <ComponentRef Id="cmpbAjHLPOWTP4pG5WK2G1OcAEX3xw" />
            <ComponentRef Id="cmpb_kav3_piyfhmFTFlLNdGtzOTnU" />
            <ComponentRef Id="cmprM5U.gwBiCB7_f19jOkbeBDBJZg" />
            <ComponentRef Id="cmpmnO82ex7HTVuGUbUPhKmLBglYAg" />
            <ComponentRef Id="cmpEwm.URPgD3dhsjN5WVhskbFnmSw" />
            <ComponentRef Id="cmpdzEHy61qFaerAkAlvc9LMKKZbug" />
            <ComponentRef Id="cmpXH5eLGSUxLNEtjZq1gVGgLGiWTM" />
            <ComponentRef Id="cmpLRAM4jBD_MIvsCtWZcxtWzboG0g" />
            <ComponentRef Id="cmpyMsgFQr.yJowvU1DW83NoEATJyU" />
            <ComponentRef Id="cmp9aKcG3Lf0yTkpIX9_Urabd_YnYs" />
            <ComponentRef Id="cmpxvzeCC58OE5lq8kQQNDMqu3ExIs" />
            <ComponentRef Id="cmp6tbrzMjOQieg.9DpcD6daLMxl4M" />
            <ComponentRef Id="cmpxhWz9GPrQKd.2pR_2N0P2mX1sDg" />
            <ComponentRef Id="cmpyrNIDSRQHoly8mZFByyRApq0SD8" />
            <ComponentRef Id="cmpjW5wgPMTRtJ7By4xukJ39CAxW94" />
            <ComponentRef Id="cmphITlhSa05.sWEuDBV6jET_ClcB0" />
            <ComponentRef Id="cmpTgDUiVvV8ZmRWeM0of71xMcuWHo" />
            <ComponentRef Id="cmpCVLYKJ9lAobg6YGNiTdN91xlxO0" />
            <ComponentRef Id="cmpDepaOyx5I7Qyfs4fhQvp82FU1ns" />
            <ComponentRef Id="cmpDh0ju9qqK2iqO_I8UWn5Qo7Un2g" />
            <ComponentRef Id="cmp92.m6M.XhgJWEmzcfCnJ9OrXHHg" />
            <ComponentRef Id="cmpIt5LQb1g2vTnR91GlHsbyaKt.vM" />
            <ComponentRef Id="cmpzRjXVinOz.D7wzA4zBe0LQY7588" />
            <ComponentRef Id="cmpqV8NHMcQokui8O4ngUbXhOS6hfw" />
            <ComponentRef Id="cmpR6ZAW._Gpy_kkzz6Q8roZth08CM" />
            <ComponentRef Id="cmp04zjmXEGBrNTGMYnN9GswrTtfWs" />
            <ComponentRef Id="cmp5Ej2qXEqGtZo0iF0Ahc7r9F_CKc" />
        </ComponentGroup>
    </Fragment>
</Wix>