<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="diru3oj2HTbW97V9VDzczVDKNLNfnc" Name="FFDec">
                <Component Id="cmpr_sSTwcMTdN.NNXr0M7ipNyQPMQ" Guid="{344EE6F4-2931-4AA0-94C9-AD2A2B0161B7}">
                    <File Id="filtmjwO7pvmEaHcMfuosByqLMISCc" KeyPath="yes" Source="$(var.FFDecPath)\ffdec.bat" />
                </Component>
                <Component Id="cmp_ZBPTtOl8wyVcmSVMQ4s_yzJAO4" Guid="{4AD51D86-6A6D-4E76-A408-63D669C08CAA}">
                    <File Id="filZKIttsQw733Tb6j.4cm2IBoX2dM" KeyPath="yes" Source="$(var.FFDecPath)\ffdec.jar" />
                </Component>
                <Directory Id="dirBrmGz_Asm13aDUe8F.VpUy2lZaI" Name="lib">
                    <Component Id="cmprh10oCi3Eq.hN_zHcG8foNecIE8" Guid="{296DFC0E-806F-4E09-8139-B0A3C0A22A0D}">
                        <File Id="fil0PnXWpi2XCtsgvHL_r1ktmUQmbA" KeyPath="yes" Source="$(var.FFDecPath)\lib\antlr-runtime-4.11.1.jar" />
                    </Component>
                    <Component Id="cmp4.ZiXk.vZsDfG5b0yC.MqcB9oXI" Guid="{ED1946AF-BB9B-42EC-95B7-D496C77DBB19}">
                        <File Id="film.GQlSuwVCaK7v2UzIvtr6byQhw" KeyPath="yes" Source="$(var.FFDecPath)\lib\avi.jar" />
                    </Component>
                    <Component Id="cmplYBZbL.9LSJtaKzKxM4T7PpyWbU" Guid="{C71478AB-500E-46DA-9A0C-B01213F6FF8F}">
                        <File Id="fil0vY1e_fBQ4a53wOYaPS7Th8.ZZg" KeyPath="yes" Source="$(var.FFDecPath)\lib\avi.montemedia.license.txt" />
                    </Component>
                    <Component Id="cmp7RDAGfbeyEvgLdNhhhuygwUp7b8" Guid="{6AA3C72D-CBFF-4241-9768-28C329206D2B}">
                        <File Id="filGDLvqJ4C._PA_tP35cpZK8vR1Sc" KeyPath="yes" Source="$(var.FFDecPath)\lib\CHANGELOG.md" />
                    </Component>
                    <Component Id="cmpUCkkQLUJGawPxUR5GI8SI4zFZE0" Guid="{C34D2096-930D-48F7-B424-BEEBDC426A90}">
                        <File Id="filoB3Pr4CxynCLUo0IKvb_CFX9u8w" KeyPath="yes" Source="$(var.FFDecPath)\lib\cmykjpeg.jar" />
                    </Component>
                    <Component Id="cmpIDPIJsoxUjIJA17k7sBGyuli.38" Guid="{E24E0177-ABDC-4900-8E7A-D0ABE5228C4C}">
                        <File Id="filoUHdRMYvdXCsRkLjnIuLVxRSfGM" KeyPath="yes" Source="$(var.FFDecPath)\lib\ddsreader.jar" />
                    </Component>
                    <Component Id="cmp6nqW6DswLYtaEVlatIEu66HQM0s" Guid="{C560F135-77B0-49DC-997E-D4460D7FDCEA}">
                        <File Id="filLtLRr7RbuOFomn6ia1uZMYaF2lA" KeyPath="yes" Source="$(var.FFDecPath)\lib\ddsreader.license" />
                    </Component>
                    <Component Id="cmptJ1FcTKhnj2WhWrqaJaC6RDUu5U" Guid="{9847BD7F-541C-4EC3-A306-F5A7EE530ADC}">
                        <File Id="filtSqs_uJA9TBPu_IlfpJBdDeEnk0" KeyPath="yes" Source="$(var.FFDecPath)\lib\decimal.jar" />
                    </Component>
                    <Component Id="cmprQf1DjR310ubsNl476eF52968Wk" Guid="{C83F66DF-5416-4AF5-A663-E4CF19347F43}">
                        <File Id="fileYPNYmxKadufMJcxBZpPjaZp1xM" KeyPath="yes" Source="$(var.FFDecPath)\lib\decimal.license.txt" />
                    </Component>
                    <Component Id="cmp0ph6dYQmF1_X.2qIHCmAxeR8ltw" Guid="{206C1B02-F2CB-4E63-AC34-5EC6B692E057}">
                        <File Id="filTUvqoTGzM5sNPAaMgjSTxWMjfnw" KeyPath="yes" Source="$(var.FFDecPath)\lib\ffdec_lib.jar" />
                    </Component>
                    <Component Id="cmpRHnjCsEmlUt_dSsC25ahyIviYd0" Guid="{0C4559B0-73A5-43DF-B17C-C6D2661D985D}">
                        <File Id="filTCUcDxcyG._kSKmuy7l0LDIb0Uo" KeyPath="yes" Source="$(var.FFDecPath)\lib\ffdec_lib.license.txt" />
                    </Component>
                    <Component Id="cmp5gsS9twqMQu_lcFgDT9yW20RdPI" Guid="{A22328C9-9B03-4C95-A94A-3BCD3FB730FF}">
                        <File Id="filHi0JBm3FSFDrglkc9y7BE40FHbY" KeyPath="yes" Source="$(var.FFDecPath)\lib\flacomdoc.jar" />
                    </Component>
                    <Component Id="cmp4EoYNKe2xNo2moFxlcxUKWJeLd8" Guid="{645F174E-2F05-4AFE-AC55-77462CC23053}">
                        <File Id="filfLRIbKIYfr9JL5Z3i_PUd1lEsN8" KeyPath="yes" Source="$(var.FFDecPath)\lib\flacomdoc.license.txt" />
                    </Component>
                    <Component Id="cmp_cVmQXo.jFJWbKnbOGSnZh4bII4" Guid="{265CCADD-D04C-4366-9034-8764D5343769}">
                        <File Id="fil87VHM.SBTS6VRW9vGCluSEN2o50" KeyPath="yes" Source="$(var.FFDecPath)\lib\flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpdD0ItAJbgwSWLVNM64V6QYzewz4" Guid="{05FDAF96-6DE2-4917-BFAB-517FAEE1CB40}">
                        <File Id="fildwB.ItyEO7aDHQIsh00IRb2Y8x4" KeyPath="yes" Source="$(var.FFDecPath)\lib\flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpiEZaH9irBP_4MFM3FKlaXDFQTUw" Guid="{4E13A819-451A-4DE8-83CC-279E2283497B}">
                        <File Id="filKL9NpCOsSitbP6h.Aa1sfg6RzC8" KeyPath="yes" Source="$(var.FFDecPath)\lib\flashdebugger.jar" />
                    </Component>
                    <Component Id="cmpF_lSldPhLA7zBy40H9N8KlqNkBA" Guid="{26355B65-7A77-42BB-BD04-C638BBE60283}">
                        <File Id="fil3kFCJmNcdHQSYVP1SWftnqFt6gM" KeyPath="yes" Source="$(var.FFDecPath)\lib\gif.jar" />
                    </Component>
                    <Component Id="cmpINwlsp7Flj0eRVIoAcJ0.bDrQSU" Guid="{D365351B-35F8-4778-8A84-F28A4C49E1E5}">
                        <File Id="fil312.Ae6cuOe8vYc_dfpiHOByu.E" KeyPath="yes" Source="$(var.FFDecPath)\lib\gif.license.txt" />
                    </Component>
                    <Component Id="cmpV.oh7abWAFWxmyVy4pVyvlULKKk" Guid="{49EDC109-4DD4-45A4-B9B1-2555F27727B0}">
                        <File Id="fil6Epsa4hWewKp0K8lIeVb6nhmXi8" KeyPath="yes" Source="$(var.FFDecPath)\lib\gifreader.jar" />
                    </Component>
                    <Component Id="cmp5ztwxXZL_aSIaVevtzHD5081yG4" Guid="{EFD73173-1C80-40C8-B1D1-64E51AA42A4C}">
                        <File Id="fil4Yfb0V6MExvyK0iy8JtKFm_Jygk" KeyPath="yes" Source="$(var.FFDecPath)\lib\gifreader.license.txt" />
                    </Component>
                    <Component Id="cmp4preofDY6e82cX1MkhzXlMpqNXM" Guid="{CA2B48DA-C0CF-4F62-AA64-BAB593BA9CB4}">
                        <File Id="filZGBNUEIH8NPAySCcmSZ0LpP27bQ" KeyPath="yes" Source="$(var.FFDecPath)\lib\gnujpdf.jar" />
                    </Component>
                    <Component Id="cmpe_FMRLStMkAps.b4l4WycjXCQRc" Guid="{BBC19643-DCF6-4B7F-81EC-ED31CEE93A69}">
                        <File Id="fil9zrUzf8cXmacwQvfB5pwoQST5iQ" KeyPath="yes" Source="$(var.FFDecPath)\lib\graphs.jar" />
                    </Component>
                    <Component Id="cmpy0F23z.p3he78PT8nartFczoE94" Guid="{D2C0902F-F50D-435E-929A-ACA500542DE4}">
                        <File Id="filQTcBy64eZwBJVrslzn1kybafEH8" KeyPath="yes" Source="$(var.FFDecPath)\lib\jansi-2.4.0.jar" />
                    </Component>
                    <Component Id="cmpo_VzdNzM6XiIBy8jOgmScvX9dMw" Guid="{D43DDE1C-18E3-46F6-830A-7F4DE07BBB92}">
                        <File Id="fil8qguEv_omIjbkPJrgjR7Vcsz2xM" KeyPath="yes" Source="$(var.FFDecPath)\lib\jargs.jar" />
                    </Component>
                    <Component Id="cmprlx5Vc9hry5N2vNic9LGB7QhePg" Guid="{0E292D0B-C71F-410E-ADB9-3557B9CA0EC5}">
                        <File Id="filA1.1YQGc0.Xz1i_ypFfQjOfNY6U" KeyPath="yes" Source="$(var.FFDecPath)\lib\JavactiveX.jar" />
                    </Component>
                    <Component Id="cmpFJBRYSGnMc4LHlPCTB1pv_8R4T0" Guid="{48CCFBF0-E9E8-4ECC-B8B5-70F3505CE785}">
                        <File Id="filk5C8yBLGw23H1MGueiSJtCbVq_0" KeyPath="yes" Source="$(var.FFDecPath)\lib\jl.license.txt" />
                    </Component>
                    <Component Id="cmpdGGmRiAMrYW.KBQ_dxI_I_rUHn8" Guid="{137F0C2E-4C41-4DE3-B252-21F44C8BEF38}">
                        <File Id="filFVB8_KOUfflBiGN1.8QiR_OKQNI" KeyPath="yes" Source="$(var.FFDecPath)\lib\jl1.0.1.jar" />
                    </Component>
                    <Component Id="cmpwwd2pEsr08YV09nffYklaz.Ayv4" Guid="{C9091AE3-5AB2-4772-A66A-D1F0339781BF}">
                        <File Id="filBDjmeQGpqkEysjn0EB.IxSpeHsc" KeyPath="yes" Source="$(var.FFDecPath)\lib\jlayer-1.0.2.jar" />
                    </Component>
                    <Component Id="cmplDj_arvuTEhJ9igr.SGJBXcS180" Guid="{01543732-2ABC-470A-9B23-1AF771963D19}">
                        <File Id="fil8wm_u_1sxxPhe9_7w7X7wuwh.gg" KeyPath="yes" Source="$(var.FFDecPath)\lib\jlayer.license.txt" />
                    </Component>
                    <Component Id="cmp2OXsbCJvKsn0mJ6SaE10J2a6mhU" Guid="{740D0171-808A-422E-905C-5A895669AAA1}">
                        <File Id="filts.2i3jYENeChAQ.mWwINYrGfOY" KeyPath="yes" Source="$(var.FFDecPath)\lib\jna-3.5.1.jar" />
                    </Component>
                    <Component Id="cmpPwP8nvrXod5gBwwV_4aSKm1mRkA" Guid="{ADDD02A1-DEF0-4B5D-8689-F9FB175CA97E}">
                        <File Id="filPk3stVE_kbeETHdJJLIux66wesE" KeyPath="yes" Source="$(var.FFDecPath)\lib\jna-platform-3.5.1.jar" />
                    </Component>
                    <Component Id="cmp65fbT18KII3tsJAg2GvLvUOTkTU" Guid="{FF312CD5-507D-4D1A-9551-957FBB3321B5}">
                        <File Id="filJjewoUSvmiOfQ6ijpsUGOyc7jFY" KeyPath="yes" Source="$(var.FFDecPath)\lib\jna.license.txt" />
                    </Component>
                    <Component Id="cmps.vuX.ex8dKf4wPmqXKUQiCdkYw" Guid="{94995257-98F5-4A42-85B9-D564729854DB}">
                        <File Id="fil_CcS8zngxw9_rsNCwM.lm80j.jc" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpacker.jar" />
                    </Component>
                    <Component Id="cmpSO5a12IRkbqRXEPboPUrvFYvLo4" Guid="{08FA1414-6E6C-4D05-A8C6-939A3AFD5391}">
                        <File Id="filwvaIXf1a0bO_vHpBI_a_vvZtqRE" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpacker.license.txt" />
                    </Component>
                    <Component Id="cmpCzbq3BMmGyyVlTEQ.Si_ZWxjUaM" Guid="{104E4F03-E1F9-42DD-8DBB-BA25AC0A4D6D}">
                        <File Id="filHSCnUpmQLgDBxY62vQH2PoSXy_w" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpproxy.jar" />
                    </Component>
                    <Component Id="cmpqe.RFAUERSNNfWUvHaSMWOYR9Dk" Guid="{923E2743-8370-4F00-A641-1EE0C991ACF6}">
                        <File Id="fil8VYzvTvH0yDahkjaaSGyqDwmIK0" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpproxy.muffin.license.txt" />
                    </Component>
                    <Component Id="cmpSBi7h21RwjYNCdjiRZ6KTXwE61g" Guid="{A5B76C39-6FD0-4098-9E3E-D5C26366B97C}">
                        <File Id="filLLuPnbJRvhYhpkOcZ4VIrz8H6OE" KeyPath="yes" Source="$(var.FFDecPath)\lib\jsyntaxpane-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpghUUKeqHAXWBrdhTaPDbi9om7rs" Guid="{40827B88-F34E-4ED2-BD8F-EC6B9E2E0694}">
                        <File Id="filS0hO.zzBmrAAvUOxSh4g1CC.q5k" KeyPath="yes" Source="$(var.FFDecPath)\lib\jsyntaxpane.license.txt" />
                    </Component>
                    <Component Id="cmpvQ6g5LNhl9wEj.s3mY6Ox7Tr1eY" Guid="{EE5158F9-C6E0-4B9A-A956-FFEBFA0481C8}">
                        <File Id="filvhQjJuNjNg6.Kzi8FXqIkPHinRg" KeyPath="yes" Source="$(var.FFDecPath)\lib\license.txt" />
                    </Component>
                    <Component Id="cmpbAjHLPOWTP4pG5WK2G1OcAEX3xw" Guid="{6AEE9F2A-7172-4E43-B06A-08F8A9844208}">
                        <File Id="filiYbb2aGv6V2x30BZ7dPnQgb4cc0" KeyPath="yes" Source="$(var.FFDecPath)\lib\LZMA.jar" />
                    </Component>
                    <Component Id="cmpb_kav3_piyfhmFTFlLNdGtzOTnU" Guid="{6EDC3A80-7DCB-4F58-836B-F808711DD111}">
                        <File Id="filWGfAugLkRZvIaTQwtXjegsleQSw" KeyPath="yes" Source="$(var.FFDecPath)\lib\minimal-json-0.9.5.jar" />
                    </Component>
                    <Component Id="cmprM5U.gwBiCB7_f19jOkbeBDBJZg" Guid="{E6F2B311-3566-47A3-88F0-F6BA42C81519}">
                        <File Id="filyO6KnQsYGTB.MnKwbo8irBe9ghQ" KeyPath="yes" Source="$(var.FFDecPath)\lib\minimal-json.license.txt" />
                    </Component>
                    <Component Id="cmpmnO82ex7HTVuGUbUPhKmLBglYAg" Guid="{B5F726B7-819B-4C4B-9F5E-40982E20EE89}">
                        <File Id="filYLFkdcY7eZiD0_WuIayeMwHUGG0" KeyPath="yes" Source="$(var.FFDecPath)\lib\miterstroke.jar" />
                    </Component>
                    <Component Id="cmpEwm.URPgD3dhsjN5WVhskbFnmSw" Guid="{6A0B0BCD-EF13-46CF-84D5-E0C238EB20C1}">
                        <File Id="fil065rP89nO2.ISaQhTXHv6Fcd0JU" KeyPath="yes" Source="$(var.FFDecPath)\lib\miterstroke.license.txt" />
                    </Component>
                    <Component Id="cmpdzEHy61qFaerAkAlvc9LMKKZbug" Guid="{032E3001-4F2C-416F-A72F-EE085B16E610}">
                        <File Id="filGBXGsxV7cStgrDCf7Z2fBpIXJcM" KeyPath="yes" Source="$(var.FFDecPath)\lib\nellymoser.jar" />
                    </Component>
                    <Component Id="cmpXH5eLGSUxLNEtjZq1gVGgLGiWTM" Guid="{8349555A-30AD-4DF2-BDF1-37D3A10F25D7}">
                        <File Id="fil1po7NBbzHwdZFcPKYhsaAvWS1gI" KeyPath="yes" Source="$(var.FFDecPath)\lib\nellymoser.license.txt" />
                    </Component>
                    <Component Id="cmpLRAM4jBD_MIvsCtWZcxtWzboG0g" Guid="{684827AA-C74E-4072-B5D9-44925AF37231}">
                        <File Id="filoGUjQUwBMTMA6qtYrL9B8YoE1_Y" KeyPath="yes" Source="$(var.FFDecPath)\lib\README.md" />
                    </Component>
                    <Component Id="cmpyMsgFQr.yJowvU1DW83NoEATJyU" Guid="{63E3F188-2BD6-4F71-9D03-6B70D2852E48}">
                        <File Id="filY.tPkEmRkWYHyfsgRija.tR8J0U" KeyPath="yes" Source="$(var.FFDecPath)\lib\sfntly.jar" />
                    </Component>
                    <Component Id="cmp9aKcG3Lf0yTkpIX9_Urabd_YnYs" Guid="{D66BB038-29D5-439B-95BF-E272602DCFD9}">
                        <File Id="filjjhnOPev.rkWtpPdN864nqq21FI" KeyPath="yes" Source="$(var.FFDecPath)\lib\sfntly.license.txt" />
                    </Component>
                    <Component Id="cmpxvzeCC58OE5lq8kQQNDMqu3ExIs" Guid="{EA21DE92-70D3-4A20-867F-71A0038D5C7F}">
                        <File Id="filPDQDmrPCsafAKC.VmdcmC4A8WMU" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-6.2.jar" />
                    </Component>
                    <Component Id="cmp6tbrzMjOQieg.9DpcD6daLMxl4M" Guid="{DC37A175-272A-4AD7-BABC-73225F407030}">
                        <File Id="filyfHMF2waP8BiAIG7HCAuifCIo4w" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-fix.jar" />
                    </Component>
                    <Component Id="cmpxhWz9GPrQKd.2pR_2N0P2mX1sDg" Guid="{E13A6FA2-8C08-46B3-8D1F-1FF4F7446B66}">
                        <File Id="filqWgueIjXduUta6aPqgzxzMEp1Gg" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpyrNIDSRQHoly8mZFByyRApq0SD8" Guid="{B49C22DD-65D9-4AB6-BFD9-13827C5F47FE}">
                        <File Id="filppSRGlwY5HlnbisXoaB6ahhXevw" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpjW5wgPMTRtJ7By4xukJ39CAxW94" Guid="{10787B47-7981-421C-BFED-554767F99C07}">
                        <File Id="filrpuaTigKZ_WbmSjXvcXt7ZC3YQY" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance.license.txt" />
                    </Component>
                    <Component Id="cmphITlhSa05.sWEuDBV6jET_ClcB0" Guid="{732170DA-B32D-4EEA-998C-AED1DA9984E3}">
                        <File Id="filzbF5YW_OV_NdiTr9W87.ysjVKTc" KeyPath="yes" Source="$(var.FFDecPath)\lib\tablelayout.jar" />
                    </Component>
                    <Component Id="cmpTgDUiVvV8ZmRWeM0of71xMcuWHo" Guid="{BDFA4B50-0E6A-40EA-AD3B-6C9B51BB3787}">
                        <File Id="fildJB.YTNVQKdKKV2hedk2QAaiK2E" KeyPath="yes" Source="$(var.FFDecPath)\lib\tga.jar" />
                    </Component>
                    <Component Id="cmpCVLYKJ9lAobg6YGNiTdN91xlxO0" Guid="{B30548F1-6599-4DAE-B28F-FC6E5B7966E7}">
                        <File Id="filSpRwSvFim90OgVnZABpbOArJ8kU" KeyPath="yes" Source="$(var.FFDecPath)\lib\tga.license.txt" />
                    </Component>
                    <Component Id="cmpDepaOyx5I7Qyfs4fhQvp82FU1ns" Guid="{7E75C976-103D-4695-9B3C-448ACEFDB98C}">
                        <File Id="filkW1WHZuK7RK7nrXVqAW1sp5PZT0" KeyPath="yes" Source="$(var.FFDecPath)\lib\tomlj-1.1.1.jar" />
                    </Component>
                    <Component Id="cmpDh0ju9qqK2iqO_I8UWn5Qo7Un2g" Guid="{22EBA23F-D268-4E60-A081-825651BEE6FF}">
                        <File Id="filjzZMQ4uBGDD5byiEJUbyhU3_UmU" KeyPath="yes" Source="$(var.FFDecPath)\lib\treetable.jar" />
                    </Component>
                    <Component Id="cmp92.m6M.XhgJWEmzcfCnJ9OrXHHg" Guid="{FCCE9C72-DFE5-4215-A147-F90961B8F68E}">
                        <File Id="filHYMAX_xuOy3szEpmaZrcmkHlm9g" KeyPath="yes" Source="$(var.FFDecPath)\lib\trident-6.2.jar" />
                    </Component>
                    <Component Id="cmpIt5LQb1g2vTnR91GlHsbyaKt.vM" Guid="{3459AFB7-4AA5-4852-8FD7-19F50D9F50F5}">
                        <File Id="filtenBrTSWLTbKzJNcUvksFacAPLM" KeyPath="yes" Source="$(var.FFDecPath)\lib\trident.license.txt" />
                    </Component>
                    <Component Id="cmpzRjXVinOz.D7wzA4zBe0LQY7588" Guid="{C3B98717-4095-467F-8452-3DFCACDCC30E}">
                        <File Id="fil5.kCsbFGA.aPuyYuWDAl2Z9pNVY" KeyPath="yes" Source="$(var.FFDecPath)\lib\ttf.doubletype.license.txt" />
                    </Component>
                    <Component Id="cmpqV8NHMcQokui8O4ngUbXhOS6hfw" Guid="{061301AD-3FAA-4950-A239-4756CC53DB1B}">
                        <File Id="fil.9IitYFIo9FXHUycTBFahcSIUQI" KeyPath="yes" Source="$(var.FFDecPath)\lib\ttf.fontastic.license.txt" />
                    </Component>
                    <Component Id="cmpR6ZAW._Gpy_kkzz6Q8roZth08CM" Guid="{317E1376-997F-4E61-A59D-40797E1AB0BD}">
                        <File Id="filQaBGIuF7DTXgixf4Ct2rugFUWvg" KeyPath="yes" Source="$(var.FFDecPath)\lib\ttf.jar" />
                    </Component>
                    <Component Id="cmp04zjmXEGBrNTGMYnN9GswrTtfWs" Guid="{A5EF9684-3AB7-4672-8FD6-FFB35C0A534E}">
                        <File Id="filxzZY2UgLCROw4XUl.S7f2rltpqs" KeyPath="yes" Source="$(var.FFDecPath)\lib\vlcj-4.7.3.jar" />
                    </Component>
                    <Component Id="cmp5Ej2qXEqGtZo0iF0Ahc7r9F_CKc" Guid="{23FB5141-1FDC-4202-ACB7-B527EED13BC8}">
                        <File Id="filwpAr0O4S1mxtV7_9AESYUiZG_yM" KeyPath="yes" Source="$(var.FFDecPath)\lib\vlcj-natives-4.7.0.jar" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="FFDecComponents">
            <ComponentRef Id="cmpr_sSTwcMTdN.NNXr0M7ipNyQPMQ" />
            <ComponentRef Id="cmp_ZBPTtOl8wyVcmSVMQ4s_yzJAO4" />
            <ComponentRef Id="cmprh10oCi3Eq.hN_zHcG8foNecIE8" />
            <ComponentRef Id="cmp4.ZiXk.vZsDfG5b0yC.MqcB9oXI" />
            <ComponentRef Id="cmplYBZbL.9LSJtaKzKxM4T7PpyWbU" />
            <ComponentRef Id="cmp7RDAGfbeyEvgLdNhhhuygwUp7b8" />
            <ComponentRef Id="cmpUCkkQLUJGawPxUR5GI8SI4zFZE0" />
            <ComponentRef Id="cmpIDPIJsoxUjIJA17k7sBGyuli.38" />
            <ComponentRef Id="cmp6nqW6DswLYtaEVlatIEu66HQM0s" />
            <ComponentRef Id="cmptJ1FcTKhnj2WhWrqaJaC6RDUu5U" />
            <ComponentRef Id="cmprQf1DjR310ubsNl476eF52968Wk" />
            <ComponentRef Id="cmp0ph6dYQmF1_X.2qIHCmAxeR8ltw" />
            <ComponentRef Id="cmpRHnjCsEmlUt_dSsC25ahyIviYd0" />
            <ComponentRef Id="cmp5gsS9twqMQu_lcFgDT9yW20RdPI" />
            <ComponentRef Id="cmp4EoYNKe2xNo2moFxlcxUKWJeLd8" />
            <ComponentRef Id="cmp_cVmQXo.jFJWbKnbOGSnZh4bII4" />
            <ComponentRef Id="cmpdD0ItAJbgwSWLVNM64V6QYzewz4" />
            <ComponentRef Id="cmpiEZaH9irBP_4MFM3FKlaXDFQTUw" />
            <ComponentRef Id="cmpF_lSldPhLA7zBy40H9N8KlqNkBA" />
            <ComponentRef Id="cmpINwlsp7Flj0eRVIoAcJ0.bDrQSU" />
            <ComponentRef Id="cmpV.oh7abWAFWxmyVy4pVyvlULKKk" />
            <ComponentRef Id="cmp5ztwxXZL_aSIaVevtzHD5081yG4" />
            <ComponentRef Id="cmp4preofDY6e82cX1MkhzXlMpqNXM" />
            <ComponentRef Id="cmpe_FMRLStMkAps.b4l4WycjXCQRc" />
            <ComponentRef Id="cmpy0F23z.p3he78PT8nartFczoE94" />
            <ComponentRef Id="cmpo_VzdNzM6XiIBy8jOgmScvX9dMw" />
            <ComponentRef Id="cmprlx5Vc9hry5N2vNic9LGB7QhePg" />
            <ComponentRef Id="cmpFJBRYSGnMc4LHlPCTB1pv_8R4T0" />
            <ComponentRef Id="cmpdGGmRiAMrYW.KBQ_dxI_I_rUHn8" />
            <ComponentRef Id="cmpwwd2pEsr08YV09nffYklaz.Ayv4" />
            <ComponentRef Id="cmplDj_arvuTEhJ9igr.SGJBXcS180" />
            <ComponentRef Id="cmp2OXsbCJvKsn0mJ6SaE10J2a6mhU" />
            <ComponentRef Id="cmpPwP8nvrXod5gBwwV_4aSKm1mRkA" />
            <ComponentRef Id="cmp65fbT18KII3tsJAg2GvLvUOTkTU" />
            <ComponentRef Id="cmps.vuX.ex8dKf4wPmqXKUQiCdkYw" />
            <ComponentRef Id="cmpSO5a12IRkbqRXEPboPUrvFYvLo4" />
            <ComponentRef Id="cmpCzbq3BMmGyyVlTEQ.Si_ZWxjUaM" />
            <ComponentRef Id="cmpqe.RFAUERSNNfWUvHaSMWOYR9Dk" />
            <ComponentRef Id="cmpSBi7h21RwjYNCdjiRZ6KTXwE61g" />
            <ComponentRef Id="cmpghUUKeqHAXWBrdhTaPDbi9om7rs" />
            <ComponentRef Id="cmpvQ6g5LNhl9wEj.s3mY6Ox7Tr1eY" />
            <ComponentRef Id="cmpbAjHLPOWTP4pG5WK2G1OcAEX3xw" />
            <ComponentRef Id="cmpb_kav3_piyfhmFTFlLNdGtzOTnU" />
            <ComponentRef Id="cmprM5U.gwBiCB7_f19jOkbeBDBJZg" />
            <ComponentRef Id="cmpmnO82ex7HTVuGUbUPhKmLBglYAg" />
            <ComponentRef Id="cmpEwm.URPgD3dhsjN5WVhskbFnmSw" />
            <ComponentRef Id="cmpdzEHy61qFaerAkAlvc9LMKKZbug" />
            <ComponentRef Id="cmpXH5eLGSUxLNEtjZq1gVGgLGiWTM" />
            <ComponentRef Id="cmpLRAM4jBD_MIvsCtWZcxtWzboG0g" />
            <ComponentRef Id="cmpyMsgFQr.yJowvU1DW83NoEATJyU" />
            <ComponentRef Id="cmp9aKcG3Lf0yTkpIX9_Urabd_YnYs" />
            <ComponentRef Id="cmpxvzeCC58OE5lq8kQQNDMqu3ExIs" />
            <ComponentRef Id="cmp6tbrzMjOQieg.9DpcD6daLMxl4M" />
            <ComponentRef Id="cmpxhWz9GPrQKd.2pR_2N0P2mX1sDg" />
            <ComponentRef Id="cmpyrNIDSRQHoly8mZFByyRApq0SD8" />
            <ComponentRef Id="cmpjW5wgPMTRtJ7By4xukJ39CAxW94" />
            <ComponentRef Id="cmphITlhSa05.sWEuDBV6jET_ClcB0" />
            <ComponentRef Id="cmpTgDUiVvV8ZmRWeM0of71xMcuWHo" />
            <ComponentRef Id="cmpCVLYKJ9lAobg6YGNiTdN91xlxO0" />
            <ComponentRef Id="cmpDepaOyx5I7Qyfs4fhQvp82FU1ns" />
            <ComponentRef Id="cmpDh0ju9qqK2iqO_I8UWn5Qo7Un2g" />
            <ComponentRef Id="cmp92.m6M.XhgJWEmzcfCnJ9OrXHHg" />
            <ComponentRef Id="cmpIt5LQb1g2vTnR91GlHsbyaKt.vM" />
            <ComponentRef Id="cmpzRjXVinOz.D7wzA4zBe0LQY7588" />
            <ComponentRef Id="cmpqV8NHMcQokui8O4ngUbXhOS6hfw" />
            <ComponentRef Id="cmpR6ZAW._Gpy_kkzz6Q8roZth08CM" />
            <ComponentRef Id="cmp04zjmXEGBrNTGMYnN9GswrTtfWs" />
            <ComponentRef Id="cmp5Ej2qXEqGtZo0iF0Ahc7r9F_CKc" />
        </ComponentGroup>
    </Fragment>
</Wix>